body{
  margin: 0;
  background-color: maroon;
}

label{
  padding: 10px 0 10px 0;
  font-size: 25px;
  font-family: 'Abril Fatface', sans-serif;
}

h1{
  margin-bottom: 5px

}
h3 {
  margin-top: 5px;
}

.header{
  text-align: center;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 23px;
}

#table {
  background: maroon;
  height: 400px;
}

img {
  height: 200px;
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

.hand {
  background: black;
  width: 100%;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  height: 30px;
  width: 75px;
  font-size: 1.1em;
  border-radius: 4px;
  border: none;
  font-family: 'Abril Fatface', sans-serif;
}

#bet_box{
  height: 26px;
  width: 140px;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Abril Fatface', sans-serif;
}

table {
  display: block;
}

td {
  padding: 4px;
}
.buttons{
  /*margin-top: 50px;*/
  text-align: center;
  padding: 10px;
}

#score {
  float: right;
  font-family: 'Abril Fatface', sans-serif;
  /*margin-top: 110px;*/
  font-size: 1.3em;
}

#reset-button {
  height: 50px;
  width: 70px;
}

#bet_table {
  font-family: 'Abril Fatface', sans-serif;
  margin: 0 20px;
  font-size: 1.3em;
}

#current_bet_row {
  font-family: 'Abril Fatface', sans-serif;
  margin: 0;
  font-size: 1.3em;
}

#player-hand {
  display: block;
}

.floatRight {
  float: right;
}

#dbl-button {
  height: 50px;
}
